<a href="https://colab.research.google.com/github/deepaktamil20/deepaktamil20/blob/main/Project_Multicollinearity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

food_prices = pd.read_csv('/content/food_prices.csv')

In [ ]:
food_prices.columns

Index(['Petrol', 'Vegetables', 'Food'], dtype='object')

In [ ]:
data = food_prices.drop(['Food'],axis=1)
data1 = food_prices['Food']

In [ ]:
data.head()

   Petrol  Vegetables
0      90          50
1      91          55
2      95          60
3      97          62
4      99          65

In [ ]:
import statsmodels.api as sm

data2 = sm.add_constant(data)

model = sm.OLS(data1, data).fit()

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:117: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [ ]:
summary = model.summary()
print(summary)

                            OLS Regression Results
==============================================================================
Dep. Variable:                   Food   R-squared:                       0.971
Model:                            OLS   Adj. R-squared:                  0.960
Method:                 Least Squares   F-statistic:                     84.10
Date:                Fri, 06 May 2022   Prob (F-statistic):           0.000142
Time:                        04:41:17   Log-Likelihood:                -12.398
No. Observations:                   8   AIC:                             30.80
Df Residuals:                       5   BIC:                             31.03
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        -55.0356     22.399     -2.457      0.057    -112.614       2.543
Petrol         0.7140      0.353      2.023      0.099      -0.193       1.621
Vegetables     0.1849      0.193      0.956      0.383      -0.312       0.682
==============================================================================
Omnibus:                        1.013   Durbin-Watson:                   1.258
Prob(Omnibus):                  0.603   Jarque-Bera (JB):                0.747
Skew:                          -0.567   Prob(JB):                        0.688
Kurtosis:                       2.023   Cond. No.                     5.24e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.24e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

/usr/local/lib/python3.7/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=8
  "anyway, n=%i" % int(n))

In [ ]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [ ]:
# calculating VIF for each feature
#calculate VIF for each explanatory variable
vif = pd.DataFrame()

vif['VIF'] = [variance_inflation_factor(X.values, i) 
for i in range(X.shape[1])]

vif['variable'] = X.columns

In [ ]:
vif

           VIF    variable
0  1930.921802       const
1    19.162480      Petrol
2    19.162480  Vegetables